# Global / OS
.DS_Store
Thumbs.db
*.log

# Java
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath
.sts4-cache/

# Python
**/venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.env
.pytest_cache/
.coverage
htmlcov/

# Node / Web (if any)
**/node_modules/
dist/
.vscode/

# Database / Docker
mysql_data/
docker-compose.override.yml
